@use "variables";
@use "globals";
@use "mixins" as *;

body {
  min-height: 100dvh;
  @include flex-center;
  background-color: var(--theme1-main-bg);

  &.theme-2 {
    background-color: var(--theme2-main-bg);
  }

  &.theme-3 {
    background-color: var(--theme3-main-bg);
  }
}

.calculator {
//   border: 1px solid white;
  width: calc(100vw - 50px);

  @media (min-width: 769px) {
    width: 550px;
  }
}

header {
    @include flex-space-between;
    color: white;
    padding: 30px 0;

    .theme-selector {
        @include flex-space-between;
        gap: 30px;

        p {
            font-size: 0.8rem;
            letter-spacing: 1px;
            font-weight: 500;
        }

        .theme-toggle {
            .theme-numbers {
                width: 70px;
                display: flex;
                justify-content: space-around;
                align-items: center;
                font-weight: 500;
            }

            .theme-slider {
                position: relative;
                width: 70px;
                height: 25px;
                background-color: var(--theme1-toggle-bg);
                margin: 5px 0;
                border-radius: 30px;

                .toggle-button {
                    position: absolute;
                    height: 60%;
                    aspect-ratio: 1;
                    background-color: var(--theme1-key-bg-red);
                    border-radius: 50%;
                    left: 5px;
                    top: 50%;
                    translate: 0 -50%;
                    transition: var(--main-trans);
                    cursor: pointer;

                    &:hover {
                        background-color: var(--theme1-key-shadow-red);
                    }

                    &.theme-2 {
                        left: 50%;
                        transform: translateX(-50%);
                    }

                    &.theme-3 {
                        left: initial;
                        right: 5px;
                    }
                }
            }
        }
    }

    @media (max-width: 769px) {
        padding-top: 0;
    }
}

.screen {
    color: white;
    background-color: var(--theme1-screen-bg);
    padding: 40px;
    border-radius: 12px;
    font-size: 3.5rem;
    min-height: 131px;
    position: relative;
    display: flex;
    justify-content: flex-end;

    span.to-be-calculated {
        position: absolute;
        color: hsla(0, 0%, 100%, 0.534);
        font-size: 1.5rem;
        top: 15px;
        left: 15px;
        font-weight: 400;
    }

    @media (max-width: 768px) {
        font-size: 2rem;
        padding: 30px 25px;
        min-height: 89px;

        span.to-be-calculated {
            font-size: 1rem;
        }
    }
}

.button-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
    padding: 30px;
    margin-top: 20px;
    width: 100%;
    background-color: var(--theme1-toggle-bg);
    border-radius: 12px;

    .button {
        @include flex-center;
        border-radius: 12px;
        background-color: var(--theme1-key-bg-light-orange);
        color: var(--theme1-text-dark-grayish-blue);
        padding: 15px 0;
        font-size: 2.5rem;
        cursor: pointer;
        transition: var(--main-trans);
        box-shadow: inset 0px -3px 0px 1px var(--theme1-key-shadow-orange);
        
        &::selection {
            display: none;
        }

        &:active {
            scale: 0.9;
        }

        &.special-button {
            color: white;
            background-color: var(--theme1-key-bg);
            font-size: 1.8rem;
            box-shadow: inset 0px -3px 0px 1px var(--theme1-key-shadow);
        }

        &.equal-button {
            font-size: 1.8rem;
            background-color: var(--theme1-key-bg-red);
            color: white;
            grid-column: span 2;
            padding: 20px 0;
            box-shadow: inset 0px -3px 0px 1px var(--theme1-key-shadow-red);
        }

        &:nth-last-of-type(2) {
            grid-column: span 2;
            padding: 20px 0;
        }

        @media (max-width: 769px) {
            border-radius: 6px;
            font-size: 2rem;

            &.special-button,
            &.equal-button {
                font-size: 1.2rem;
            }
        }
    }

    @media (max-width: 769px) {
        gap: 15px;
        padding: 20px;
    }
}

// Theme 2 Styles
body.theme-2 {
    header {
        color: var(--theme2-text-dark-grayish-yellow) !important;

        .theme-slider {
            background-color: var(--theme2-toggle-bg) !important;

            .toggle-button {
                background-color: var(--theme2-key-bg-orange) !important;

                &:hover {
                    background-color: var(--theme2-key-shadow-orange) !important;
                }
            }
        }
    }

    .screen {
        background-color: var(--theme2-screen-bg) !important;
        color: var(--theme2-text-dark-grayish-yellow) !important;

        span.to-be-calculated {
            color: hsla(60, 9%, 19%, 0.63) !important;
        }
    }

    .button-grid {
        background-color: var(--theme2-toggle-bg) !important;

        .button {
            background-color: var(--theme2-key-bg-light-yellow) !important;
            color: var(--theme2-text-dark-grayish-yellow) !important;
            box-shadow: inset 0px -3px 0px 1px var(--theme2-key-shadow-dark-orange) !important;

            &.special-button {
                color: white !important;
                background-color: var(--theme2-key-bg) !important;
                box-shadow: inset 0px -3px 0px 1px var(--theme2-key-shadow) !important;
            }

            &.equal-button {
                color: white !important;
                background-color: var(--theme2-key-bg-orange) !important;
                box-shadow: inset 0px -3px 0px 1px var(--theme2-key-shadow-orange) !important;
            }
        }
    }
}

// Theme 3 Styles
body.theme-3 {
    header {
        color: var(--theme3-text-light-yellow) !important;

        .theme-slider {
            background-color: var(--theme3-toggle-bg) !important;

            .toggle-button {
                background-color: var(--theme3-key-bg-cyan) !important;

                &:hover {
                    background-color: var(--theme3-key-shadow-soft-cyan) !important;
                }
            }
        }
    }

    .screen {
        background-color: var(--theme3-toggle-bg) !important;
        color: var(--theme3-text-light-yellow) !important;

        span.to-be-calculated {
            color: hsla(52, 100%, 62%, 0.493) !important;
        }
    }

    .button-grid {
        background-color: var(--theme3-toggle-bg) !important;

        .button {
            background-color: var(--theme3-key-bg-dark-violet) !important;
            color: var(--theme3-text-light-yellow) !important;
            box-shadow: inset 0px -3px 0px 1px var(--theme3-key-shadow-dark-magenta) !important;

            &.special-button {
                color: white !important;
                background-color: var(--theme3-key-bg) !important;
                box-shadow: inset 0px -3px 0px 1px var(--theme3-key-shadow-magenta) !important;
            }

            &.equal-button {
                color: black !important;
                background-color: var(--theme3-key-bg-cyan) !important;
                box-shadow: inset 0px -3px 0px 1px var(--theme3-key-shadow-soft-cyan) !important;
            }
        }
    }
}